.TMv_PurchaseItemOwner_PaidStatus {
	
	$orange-rind : rgb(243, 117, 36);
	$error-red : #990000;
	
	display: flex;
	align-items: center;
	
	.TCv_Link {
		display: block;
		padding: 3px 5px;
		color: #fff;
		border-radius: 3px;
		text-transform: uppercase;
		font-size: 11px;
		background:#333;
		line-height: 11px;
		white-space: nowrap;
		
		
		svg {
			height: 11px;
		}
		&:hover {
			color:#FFF;
			opacity:0.8;
		}
		
		&.paid {
			background:#009900;
		}
		
		&.owing {
			background:$orange-rind;
		}
		
		&.unpaid {
			background:$error-red;
		}
		
		//margin-top:4px;
		//&:first-child {
		//		margin-top: 0px;
		//}
		
	}
	
	&.left_align {
		justify-content: flex-start;
		
		.TCv_Link {
			margin-right:4px;
		}
		
	}
	
	&.right_align {
		justify-content: flex-end;
	
		.TCv_Link {
			margin-left:4px;
		}
	}
}