
	.TMv_CheckoutStatusBar {
		border:1px solid #000000;
		margin-bottom: 20px;
		
		ul.TCv_Menu {
			list-style: none;
			padding:0px;
		
			&.menu_count_1 li {
				width:100%;
			}
			&.menu_count_2 li {
				width:50%;
			}
			&.menu_count_3 li {
				width:33.33%;
			}
			&.menu_count_4 li {
				width:25%;
			}
			&.menu_count_5 li {
				width:20%;
			}
			&.menu_count_6 li {
				width:16.66%;
			}
			
		
			li {
				display: inline-block;
				padding:0px;
				
				a,span {
					padding: 10px;
					display: block;
					text-align: center;
				}
				
				
			}
		}
		
		.current_menu {
			background:#F0F0F0;
		}
		
	}
	

	
	
