.TMt_PaymentForm .recent_address_row .form_item_container{display:flex;align-items:flex-start;justify-content:flex-start}.TMt_PaymentForm .recent_address_row .form_item_container a{display:block;padding-right:30px}/*# sourceMappingURL=TMt_PaymentForm.css.map */
