.TMv_CartableSearchForm {
	
	position: relative;
	
	.form_table {
		position: relative;
	}
	
	#cartable_result_container {
		max-height: 250px;
		overflow-y: scroll;
		overflow-x: hidden;
		display: none;
		position: absolute;
		top:25px;
		//left:8px;
		background: #FFF;
		border:1px solid #555;
		//padding:10px;
		z-index: 100;
		width:calc(100% - 2px);
		
		
		a {
			display: flex;
			justify-content: space-between;
			padding:10px;
			&:hover {
				background:#EEE;
			}
			span {
				display: block;
				font-size: 14px;
			}
			
			.price {
				font-size:18px;
				flex-shrink: 0;
			}
		}
		
		.no_results {
			padding:10px;
			color: #900;
			font-size:14px;
		}
	}
}