
/**
 * A mixin that lets the print styles be applied to other items that are non print. used to reformat items for the screen.
 */
@mixin purchaseViewPrintStyles() {
	
	#purchase_print_header {
		display: block;
	}
	
	
	// Hide a bunch of things
	#refund_button,
	.price_edit_button,
	.remove_link,
	.cart_heading,
	.TMv_PurchaseMissingPaymentForm,
	#unpaid_management,
	#purchase_delete_button,
	#purchase_cancel_button {
		display: none !important;
	}
	
	input, select {
		//	background:none !important;
	}
	
	// deal with changing quantity
	.cart_select_quantity  {
		select {
			border:none !important;
			//text-align: right !important; // doesn't work
			padding:0px;
			width:30px; // force alignment
		}
		svg {
			display: none;
		}
	}
	
	// parent needed for page breaks
//	position: relative;
	
	// Page Breaks
	#cart_adjustable_boxes {
		-webkit-region-break-inside: avoid;
		page-break-inside: avoid;
	}
	
	#cart_table {
		page-break-after: always;
	}
	
}
