@import "../../../config/purchase_styles";
@import "TMv_PurchaseView_print_styles";


.TMv_PurchaseView {
	$error : rgb(212, 94, 36);
	
	.payment_pending {
		background:#900;
		color:#FFF;
		padding:8px;
		text-transform: uppercase;
		font-size:12px;
		text-align: center;
	}
	
	#refund_button {
		font-size:12px;
		color: $refund;
		border:3px solid $refund;
		padding:10px;
		text-transform: uppercase;
		background:rgba($refund,0.1);
		display: block;
		text-align: center;
		
		&:hover {
			background:rgba($refund,1.0);
			color:#FFF;
		}
	}
	
	#unpaid_warning_view {
		background:$error;
		display: flex;
		justify-content: space-between;
		border:2px solid $error;
		.message {
			padding:8px;
			text-transform: uppercase;
			color:#FFF;
			
		}
		
		#edit_unpaid_purchase_button {
			display: block;
			padding:8px;
			background:rgba(255, 255, 255,0.4);
			color:#FFF;
			text-transform: uppercase;
			
			&:hover {
				background:rgba(255, 255, 255,0.6);
			}
		}
	}
	
	.delivery_view {
		h4 {
			padding-bottom:3px;
		}
	}
	
	#TMv_CartableSearchForm {
		border:1px solid $error;
		background:rgba($error, 0.1);
		border-top:0px;
		padding:8px;
		margin-bottom:20px;
		
		.form_table {
			display: flex;
			justify-content: space-between;
			
		}
		
		#cartable_search_row {
			width:100%;
		}
		
		//#add_product_submit_row {
		//	width:20%;
		//}
		//
		.table_row {
			padding-bottom: 0px;
		}
		.chosen-container .chosen-single, #add_product_submit {
			padding: 4px 8px;
			border-radius: 0px;
		}
		
		.chosen-container span, #add_product_submit {
			font-size:14px;
		}
	}
	
	.payment_view table {
		width: 100%;
		td {
			padding:4px 5px 4px 2px;
			border:none;
			border-top: 1px solid #EEE;
			line-height: 1.3em;
			font-weight: normal;
		
			&:first-child {
				font-weight: bold;
				white-space: nowrap;
			}
		}
		
		&:first-child td {
			border-top: none;
		}
		
		.divider td {
			border-top: 1px solid #999;
			background:#F3F3F3;
		}
	}
	
}

//////////////////////////////////////////////////////
//
// Print Styles
//
// Outside of the container to remove them all
//////////////////////////////////////////////////////

#purchase_print_header {
	display: none;
	padding-bottom:20px;
	
	h3 {
		font-size: 24px;
		padding-bottom:8px;
		border:none;
		margin:0;
	}
	
	p {
		line-height: 1.3em;
		font-size: 14px;
	}
	
}



.TMv_PurchaseView {
	@media print {
		@include purchaseViewPrintStyles();
	}
}
