$refund : rgba(90, 0, 200, 0.99);
$unpaid : #990000;
$test : #bf6d1b;
$cancelled : #000000;

.tag_title, .refund_title, .unpaid_title, .test_title, .cancelled_title {
	display: inline-block;
	color:#FFF;
	border-radius: 2px;
	margin-right: 3px;
	margin-top:1px;
	margin-bottom:1px;
	font-size:10px;
	text-transform: uppercase;
	padding:2px 4px;
	line-height: 1em;
	
	&.space_left {
		margin-left:3px;
	}
	
	svg {
		height:10px;
	}
	
}

.cancelled_title {
	background: $cancelled;
	@media print {
		color:$cancelled;
		border:1px solid $cancelled;
		background:none;
	}
}

.tag_title {
	background: #125172; // Tungsten color
	@media print {
		color:#125172;
		border:1px solid #125172;
		background:none;
	}
}
.refund_title {
	background-color:$refund;
	@media print {
		color:$refund;
		border:1px solid $refund;
		background:none;
	}
	
	
}

.unpaid_title {
	background-color: $unpaid;
	@media print {
		color:$unpaid;
		border:1px solid $unpaid;
		background:none;
	}
}

.test_title {
	background-color: $test;
	@media print {
		color:$test;
		border:1px solid $test;
		background:none;
	}
}

.refund_item_row {
	td {
		color: $refund;
	}
}


.TCv_ListRow.unpaid {
	background:rgba($unpaid,0.10);
	color:$unpaid;
	
	.TCv_ListColumn_title  a {
		color:$unpaid;
		
		&:hover {
			color:(rgba($unpaid,0.7));
		}
	}
}

.TCv_ListRow.test_transaction {
	background: rgba($test, 0.08);
	
	.TCv_ListColumn_title  a {
		color:$test;
		
		&:hover {
			color:(rgba($test,0.7));
		}
	}
}
.TCv_ListRow.refund {
	background: rgba($refund, 0.08);
	
	.TCv_ListColumn_title  a {
		color:$refund;
		
		&:hover {
			color:(rgba($refund,0.7));
		}
	}
}

.purchase_warning_bar {
	color:#FFF;
	font-size:14px;
	text-align: center;
	padding:10px;
	margin-bottom:20px;
	border-radius: 2px;
}
#cancelled_transaction_warning {
	background: $cancelled;
}

#test_transaction_warning {
	background: $test;
	
}


