
// specificity
.TMv_PurchaseHistoryList {
	table {
	
		//td {
		//	border:1px solid #333;
		//}
		
		th, td {
			
			border-left: none;
			border-right: none;
		}
		
		//th {
		//	span {
		//		font-weight: bold;
		//		font-size:16px;
		//	}
		//
		//	border-bottom: 2px solid #000;
		//	border-top:none;
		//
		//}
	}
	
}