.TMv_PaymentForm {
	
	$green : #009900;
	$red : #990000;
	$orange : rgb(203, 109, 35);
	
	position: relative;
	
	#cc_cvd {
		width:80px;
	}
	
	.TCv_FormItem_RadioButtons {
		
		.radio_button_option_box {
			width:100%;
		}
		
		// hide radio button
		input[type="radio"] {
			position: absolute;
			visibility: hidden;
		}
		
		
		label {
			display: flex; // ensure it works despite other form styling
			align-items: center;
			justify-content: space-between;
			border:1px solid #666;
			margin-bottom:8px;
			opacity:0.8;
			&:hover {
				cursor: pointer;
				opacity:1.0;
				background:#F0F0F0;
			}
			
			.button_restyle {
				display: block;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				border: 2px solid rgba(#666, 1.0);
				background: rgba(#666, 0.2);
				width: 16px;
				height: 16px;
				position: relative;
				z-index: 10;
				margin:0px;
				flex-shrink: 0;
				
				svg.checkmark {
					display: none;
				}
			}
			
			.button_text {
				display: block;
				padding: 8px;
				flex-grow: 1;
				font-size: 14px;
				line-height: 1.3em;
			}
			
			.card_number {
				font-weight: bold;
				font-size: 16px;
			}
			
		}
		//////////////////////////////////////////////////////
		//
		// CHECKED STYLES
		//
		//////////////////////////////////////////////////////
		
		input[type="radio"]:checked {
			
			~ label {
				border-color: $green !important;
				background: rgba($green,0.1);
				opacity:1.0;
				
				.button_restyle {
					border-color: $green;
					background: rgba($green, 0.2);
					
					svg.checkmark {
						display: block;
						font-size: 10px;
						margin: 0 auto;
						padding: 3px 0px 0px 0px;
						color: $green;
						height:12px;
						width:10px;
						
					}
					
				}
			}
			
		}
		
		
	}
	
	
	#card_error {
		background:$red;
		color:#FFF;
		line-height: 1.3em;
		margin-bottom:10px;
		font-size:16px;
		padding:10px;
		display: none;
	}
	
	.TCv_FormItem_HTML.payment_warning {
		background: $orange;
		color:#FFF;
		line-height: 1.3em;
		margin-bottom:10px;
		font-size:16px;
		padding:0px;
		display: none;
		
		.value_column {
			padding:0px;
		}
		
		p {
			padding:5px 5px 5px 5px;
			
			color:#FFF;
			text-align: center;
			
			svg {
				color: inherit;
			}
		}
		
		&#is_sandbox_row {
			display: block;
			
			p {
				margin-bottom:0px;
			}
			
			.sandbox_test_card_link {
				display: inline-block;
				background:#FFF;
				text-transform: uppercase;
				
				text-decoration: none;
				font-size:10px;
				padding:3px 5px;
				color: $orange;
				border-radius: 2px;
				margin-left:5px;
			}
			
		}
	}
	
	
	#sandbox_message_container {
		background:$red;
		color:#FFF;
		padding:8px;
	}
	
}