@import "../../../config/purchase_styles";

.TMv_PurchaseList {
	.purchase_details_table {
		margin-bottom:0px;

		tr{
		
			td:first-child {
				width:25px;
				
			}
			
			td {
				border-top:1px solid #DDD;
				border-bottom:none;
				font-size:12px;
				padding-top:3px;
				padding-bottom:3px;
			}
			
			&:first-child td {
				border-top:none;
				padding-top:0;
			}
			
			&:last-child td {
				padding-bottom:0;
			}
			
		}

	}

	.TCv_ListCell {
		border-bottom-color: #aaa;
		font-size: .9rem;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	.transaction_id {
		font-size:11px;
		padding-top:2px;
		color:#555;
	}
	
	// add some space to whatever is after emails, since they can spill over
	.TCv_ListColumn_buyer div {
		text-overflow: ellipsis;
		max-width:195px;
		overflow: hidden;
		white-space: nowrap;
		padding-right:4px;
	}
	
	
}