a.TMv_AdminCartButton {
	display: inline-block;
	border:1px solid #19709e;
	padding-left:2px !important;
	height:15px;
	
	.inside {
		padding:2px 3px;
		display: inline-block;
		font-size:11px;
		text-transform: uppercase;
		line-height: 11px;
	}
	
	.count {
		display: inline-block;
		background: #19709e;
		padding:2px 3px;
		color:#FFF;
		font-size:11px;
		text-align: center;
		line-height: 11px;
	}
	
	svg {
		height:10px;
		top: -1px;
		position: relative;
	}
	
	&:hover {
		border-color: #e8881f;
		
		.count {
			background-color: #e8881f;
		}
		
	}
	
}