@import "../../../../TCore/CSS/bourbon/bourbon";
$spinner_size : 80px;

.TMv_ShoppingCartTracker {

	display:none;
	
	&.loading {
		display:block;
		position: fixed;
		z-index: 500;
		background:rgba(255, 255, 255, 0.8);
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		font-size:20px;
		text-align: center;
		
		#cart_loading_icon {
			color:#333;
			width:$spinner_size;
			height:$spinner_size;
			font-size:$spinner_size;
			position: relative;
			top:calc(50% - #{$spinner_size});
		}
		
	}
	
}

.cart_message {
	position: fixed;
	display: none;
	bottom: 0px;
	width:calc(100% - 20px);
	padding:10px;
	background: #333;
	color:#FFF;
	z-index: 100;
	text-align: center;
	
	.show {
		@include animation(fade_out 3s forwards ease);
		@include animation-delay(5s);
		display: block;
		
	}
	
}