
	div.TMv_ShoppingCart {
		$cart_error:#900;
		$cart_warning:rgb(203, 109, 35);
		
		> table {
			
			
			//thead, tfoot {
			//	width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
			//}
			
			
			width: 100%;
			border-collapse: collapse;
			margin-bottom:20px;
			
			tr.has_errors {
				color:$cart_error;
			}
			
			.price_column, .quantity_column, .subtotal_column {
				width: 14%; // wide to account for refund text when necessary
			}
			
			tr.cart_item_row td {
				border-bottom:1px solid #DDD;
			}
			
			td.TCv_HTMLTableCell {
				border-left: none;
				border-right: none;
				vertical-align: middle;
				padding: 8px;
				
				&:first-child {
					padding-left: 0px;
				}
				
				&:last-child {
					padding-right: 0px;
				}
				
			}
			
			th.TCv_HTMLTableCellHeading {
				text-align: left;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom: 2px solid #000;
				padding: 8px;
				
				&:first-child {
					padding-left: 0px;
				}
				
				&:last-child {
					padding-right: 0px;
				}
				
			}
			
			.subtotal_column, th.subtotal_column,
			.quantity_column, th.quantity_column,
			.price_column, th.price_column {
				text-align: right;
			}
			
			.photo_column {
				width: 60px;
				
				svg, img {
					width: 100%;
					height: auto;
				}
			}
			
			.item_column {
				p {
					padding-bottom:0px !important;
					margin-bottom:0px !important;
				}
			}
			
			.quantity_column {
				
				#submit_row {
					display: none;
				}
				
				.remove_link {
					font-size: 11px;
					color: $cart_error;
					padding-bottom: 3px;
					
					.link_icon {
						padding-right: 5px;
					}
				}

				.select_container {
					display: flex;
					justify-content: flex-end;
				}

				select {
					max-width: 65px;
				}
				
			}
			
			.subtotal_column, .price_column {
				.regular_price {
					padding-bottom: 5px;
				}
			}
			
			.cart_item_row .discount_price ,
			.tax_info {
					font-size:11px;
					padding-bottom:4px;
			}
			
			.discount_price {
				color:$cart_error;
			}
			
			.delivery_row td, .tax_row td {
				border-top: 2px solid transparent;
			//	padding-top: 2px;
				
			}
			.subtotal_row td {
				font-weight: bold;
				border-top:2px solid #000;
			}
			.total_row td {
				font-size: 22px;
				border-bottom: 0px;
				border-top-width: 2px;
				
				.mini_view_full_cart_button {
					font-size:12px;
					float: left;
					padding-top:4px;
				}
				
			}
			
			.original_total_row td {
				color:#888;
				padding-bottom:2px;
			}
			
			
			
			
		}
		
		&.no_discount {
			.discount_total_row,
			.original_total_row {
				display: none;
			}
		}
		
		// SCROLL HEIGHT LIMITED
		&.scroll_body > table  {
			
			// Table Body formatting to allow for better CSS
			thead, tfoot, tbody {
				display: block;
				overflow-y: auto;
				overflow-x: hidden;
				width: 100%;
				
				tr {
					display: table;
					table-layout: fixed; /* even columns width , fix width of table too*/
					width: 100%;
					
				}
			}
			
			tbody {
				width: calc(100% + 15px);
				padding-right: 4px;
			}
		}
	
		.continue_checkout_button {
			display: inline-block;
		}
		
		#delete_cart_button_container {
		//	display: block;
		//	clear:both;
			
			#delete_cart_button {
				display: inline-block;
				font-size:12px;
				color:$cart_error;
			}
		}
		
		&.mini_cart {
			
			table {
				margin-bottom:0px !important;
			}
			
			tr td {
				border-top: none;
				padding-right:0px;
			}
			
			
			.item_description {
				display: none;
			}
			
			.price_column {
				width:1px !important;
				padding:0px !important;
				
				overflow:hidden;
				> * {
					display: none;
				}
			}
			
			thead {
				display: none !important;
				
			}
			
			tr:last-child td {
				border-bottom: none;
			}
			
			#delete_cart_button_container {
				display: none;
			}
			
			.remove_link svg {
				display: none;
			}
		}
		
		.action_row {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		
		.cart_warning_box ,
		.cart_error_box {
			color:#FFF;
			padding:10px;
			margin-bottom: 10px;
			
			.cart_error_button {
				float: right;
				&:hover {
					opacity:0.8;
				}
			}
		}
		
		.cart_error_box {
			background:$cart_error;
			
		}
		
		.cart_warning_box {
			background:$cart_warning;
			
		}
		
	}

	
	
