

.TMv_PurchaseSummary {

	#mixed_cart_warning {
		display: none;
		}
	
	#purchase_cancel_button,
	#purchase_delete_button {
		color:#900;
		display: block;
		font-size:0.8rem;
		margin:20px 0px 0px 0px;
		svg {
			padding-right: 5px;
		}
	}
	
	#purchase_cancel_button {
		color: #d45e24;
		margin-top:10px;
	}
	
}