.TMv_PurchaseSummary #mixed_cart_warning{display:none}.TMv_PurchaseSummary #purchase_cancel_button,.TMv_PurchaseSummary #purchase_delete_button{color:#900;display:block;font-size:.8rem;margin:20px 0px 0px 0px}.TMv_PurchaseSummary #purchase_cancel_button svg,.TMv_PurchaseSummary #purchase_delete_button svg{padding-right:5px}.TMv_PurchaseSummary #purchase_cancel_button{color:#d45e24;margin-top:10px}/*# sourceMappingURL=TMv_PurchaseSummary.css.map */
