.TMt_CartNote {
	
	
	.edit_note_column {
		width:20px;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
		
	}
	
	.action_button {
		display: inline-block;
		//position: absolute;
		//top:10px;
		//right:0px;
		//background:#888;
		//border: 1px solid #333;
		color:#333;
		padding:4px 5px;
		text-transform: uppercase;
		text-align: center;
		border-radius:2px;
		&:hover {
			color:#FFF !important;
			background:#333;
			
			svg {
				color:#FFF;
				
			}
		}
		
		svg{
			width:16px;
			height: 16px;
		}
	}
	
	.edit_note_form {
		margin-top:5px;
		
		#price {
			text-align: right;
		}
		
		position: relative;
		
		.note_row {
		
		}
		
		.TCv_FormItem_TextField input {
			font-size:12px !important;
			height:27px;
			background:#FFF;
			border-color: #DDD;
		}
		
		.TCv_FormItem_SubmitButton {
			position: absolute;
			display: none;
			right:0px;
			top:0px;
			width:100px;
			padding-bottom: 0px;
			
			.form_item_container {
				text-align: right;
			}
			
			.title_column {
				display: none !important;
			}
			
			.value_column {
				width:100% !important;
			}
			
			input {
				font-size: 11px;
				padding: 6px 8px;
				text-transform: uppercase;
				border-radius: 0px;
				border:none;
				height:25px;
				position: relative;
				top:1px;
				right:1px;
			}
		}
		
		// Empty Notes don't get shown
		&.empty_note {
			display: none;
			
		}
		
		&:focus-within, &:hover {
			.TCv_FormItem_SubmitButton {
				display: block;
			}
			
			.TCv_FormItem_TextField input {
				border-color: #888;
			}
		}
	}
	
}