.TMv_TransactionsDisabledWarning{background:#99000022;padding:20px}.TMv_TransactionsDisabledWarning p{margin-bottom:0 !important;padding-bottom:0 !important;font-size:18px;font-weight:bold;color:#900}/*# sourceMappingURL=TMv_TransactionsDisabledWarning.css.map */
