.TMv_TransactionsDisabledWarning {
	background:#99000022;
	padding:20px;
	
	p {
		margin-bottom:0 !important;
		padding-bottom:0 !important;
		font-size:18px;
		font-weight: bold;
		color: #990000;
	}
	
}