@import "../../../config/purchase_styles";

.TMv_PurchaseCart {
	
	.refund {
		color: $refund;
	
		a {
			color: $refund;
		}
		&.cart_item_row {
			background: rgba($refund, 0.1);
			
			td:first-child {
			//	border-left:2px solid $refund;
				padding-left:3px;
			}
		}
		
		.item_column {
		
		}
		
		
		.refund_details {
			padding-top:5px;
		}
		
		.refund_user {
			font-weight: bold;
		}
		
		.refund_note {
			display: block;
			padding-top: 5px;
			font-style: italic;
		}
		
		.refund_delivery {
			display: block;
			padding-top: 5px;
			
		}
		
		
	}
	
	
	.refund_heading_row{
		border-top:2px solid $refund;
		
	}
	
	.non_refund_price {
		color:$refund;
		text-decoration: line-through;
		display: inline-block;
		padding-right:5px;
		font-weight: normal;
		//&:before {
		//	content: "Originally";
		//	display: inline-block;
		//	padding-right:5px;
		//}
		
	}
	
	.created_item_link {
		display: inline-block;
		padding:3px 5px;
		background:#777;
		color:#FFF;
		margin: 0 3px 3px 0px;
		border-radius: 2px;
		
		&:hover {
			color:#FFF;
			background:#444;
		}
	}
	
	//////////////////////////////////////////////////////
	//
	// Price Editing
	//
	//////////////////////////////////////////////////////
	
	.price_edit_button {
		display: inline-block;
		background:#888;
		border: 1px solid #333;
		color:#FFF;
		padding:2px 5px;
		text-transform: uppercase;
		font-size:10px;
		margin-bottom:-1px; // slide up on top of button
		
		&:hover {
			color:#FFF;
			background:#333;
		}
	}
	
	.cart_price_form {
		border: 1px solid #333;
		padding:5px;
		background:#EEE;
		display: none;
		#price {
			text-align: right;
		}
		
		.TCv_FormItem_SubmitButton {
			padding-bottom: 0px;
			input {
				font-size: 11px;
				padding: 4px 8px;
				text-transform: uppercase;
				border-radius: 0px;
			}
		}
	}
	
}