.TMv_ShoppingCartManualPaymentForm {

}

.TMv_ShoppingCart {
	&.complimentary {
	
		.subtotal_column {
			text-decoration: line-through;
			color:#666;
			
			
		}
		
		.total_row .subtotal_column {
			text-decoration: line-through;
			&:before {
				content:"$0.00";
				display: inline-block;
				color:#009900;
				text-decoration: none !important; ;
				padding-right:10px;
				//padding-top:15px;
				
			}
			
		}
	
	}
}