.TMv_ShoppingCart.complimentary .subtotal_column{text-decoration:line-through;color:#666}.TMv_ShoppingCart.complimentary .total_row .subtotal_column{text-decoration:line-through}.TMv_ShoppingCart.complimentary .total_row .subtotal_column:before{content:"$0.00";display:inline-block;color:#090;text-decoration:none !important;padding-right:10px}/*# sourceMappingURL=TMv_ShoppingCartManualPaymentForm.css.map */
