
.TMv_PurchaseEmail {
	form {
		display: none;
	}
	
	h2  {
		border-bottom: 1px solid #000;
		padding-bottom:4px;
		margin-bottom:10px;
	}
	.TMv_ShoppingCart, .TMv_ContentLayout {
		padding-bottom:20px;
	}
	
	.TMv_ShoppingCart {
		padding-top:10px;
		
		.fa {
			display: none;
		}
		
		.total_row td {
			font-size:16px;
		}
		.item_link {
			font-size:14px;
		}
	}
	
	#quickbooks_payment_row,
	#refund_button {
		display: none !important;
	}
	
	
}