
	.TMv_CheckoutDelivery {
		
		$green : #009900;
		
		//////////////////////////////////////////////////////
		//
		// CHECKED STYLES
		//
		//////////////////////////////////////////////////////
		.TCv_FormItem_RadioButtons {
			
			.radio_button_option_box {
				width:100%;
				padding: 0 0 5px 0 ;
				display: block;
			}
			
			.title {
				font-weight: bold;
			}
			
			.value_column label {
				display: flex !important;
				align-items: center;
				justify-content: space-between;
				border: 1px solid #666;
				margin-bottom: 8px;
				margin-left:0px !important;
				opacity: 0.8 !important;
				vertical-align: top;
				position: relative;
				width:100%;
				
				
				
				&:hover {
					cursor: pointer;
					opacity: 1.0 !important;
					background: #F0F0F0;
				}
				
				.button_restyle {
					display: block;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					border: 2px solid rgba(#666, 1.0);
					background: rgba(#666, 0.2);
					width: 16px;
					height: 16px;
					position: relative;
					z-index: 10;
					margin:0px;
					flex-shrink: 0;
					
					svg.checkmark {
						display: none;
					}
				}
				
				.button_text {
					display: block;
					padding: 8px;
					flex-grow: 1;
					font-size: 14px;
					line-height: 1.3em;
				}
				
			}
			
			input[type="radio"]:checked {
				
				~ label {
					border-color: $green !important;
					background: rgba($green, 0.1);
					opacity: 1.0;
					
					.button_restyle {
						border-color: $green;
						background: rgba($green, 0.2);
						
						svg.checkmark {
							display: block;
							font-size: 10px;
							margin: 0 auto;
							padding: 3px 0px 0px 0px;
							color: $green;
							height: 12px;
							width: 10px;
							
						}
						
					}
				}
				
			}
		}
		
		
	}
	

	
	
