
	.TMv_CheckoutConfirm {
		.TMv_ShoppingCartConfirmForm #submit_row {
			.title_column {
				display: none;
			}
			
			.value_column {
				width: 100%;
				text-align: center;
			}
		}
		
		.details_layout {
			.content_column {
				align-items:stretch;
				display: flex !important;
				.layout_block_container {
					align-items:stretch;
					border:1px solid #AAA;
					padding:15px;
					margin-bottom:15px;
					height: auto; // removes the 100% from Tungsten
					
				}
				
				h3 {
					font-size:1.2em;
					padding-bottom:8px;
					border-bottom: 1px solid #AAA;
					margin-bottom:8px;
				}
			}
			
		}
	}
	
	
	
	

	
	
