@import "../../../config/purchase_styles";

.TMv_PurchaseRefundForm {
	.custom_row {
		display: none;
	}
	
	.non_deletable input {
		display: none !important;
	}
	
	.no_stack {
		padding-bottom:4px !important;
	}
	
}
